<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
  <div layout:fragment="main-content" class="container my-3">
    <table class="table table-light table-striped">
      <thead class="table-dark text-center">
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>날짜</th>
        </tr>
      </thead>
      <tr th:each="board, loop: ${boardList}">
        <td th:text="${loop.count}"></td>
        <td>
          <a
            th:href="@{|/board/detail/${board.bno}|}"
            th:text="${board.title}"
          ></a>
        </td>
        <td>
          [[${#temporals.format(board.createDate,"yyyy-MM-dd HH:mm:ss")}]]
        </td>
      </tr>
    </table>
    <a th:href="@{/board/create}" class="btn btn-sm btn-primary my-2">게시글 등록</a>
  </div>
</html>
